*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
   
}
nav{
    display: flex;
    color: rgb(204, 203, 203);
    text-transform: capitalize;
    align-items: center;
    padding: 0 40px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li{
    padding-left: 20px;
}

.hero{
    width: 100%;
    height: 800px;
    background: url('dune5.jpg')no-repeat center/cover;
}
.hero h1{
    text-transform: capitalize;
}
.content{
    padding-top: 300px;
    padding-left: 40px;
}
.logo{
    text-transform: uppercase;
    font-weight: bold;
    color: #d21818;
    font-size: 32px;

}

.play{
    width: 135px;
    height: 45px;
    color: black;
    font-size: 18px;
    font-weight:600;
    border-radius: 5px;
    margin-top: 5px;
    border-color: rgba(255, 0, 0, 0);
}
.info{
      width: 135px;
    height: 45px;
    color: white;
    font-size: 18px;
    font-weight:600;
    border-radius: 5px;
    margin-top: 5px; 
    background: #545657;
    text-transform: capitalize;
    border-color: #54565700;
}
#popular{
    background: ;
}
.popular{
    font-size: 22px;
    margin-top: 0px;
    padding: 0 40px;
    margin-top: -180px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    background: linear-gradient(to bottom, #35333300, #000000);}

.popular2{
    font-size: 22px;
    margin-top: 0px;
    padding: 0 40px;
    background: black;
    padding-top: 30px;
}
.cards2{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 10px;
    background: black;
}
img:hover{
 cursor: pointer;
}